.pogo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.25rem;
  align-items: start;
}

@include media-breakpoint-up(sm) {
  .pogo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include media-breakpoint-up(md) {
  .pogo-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@include media-breakpoint-up(lg) {
  .pogo-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@include media-breakpoint-up(xl) {
  .pogo-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@include media-breakpoint-up(xxl) {
  .pogo-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
