body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'main'
    'nav';
}

@include media-breakpoint-up(md) {
  body {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'nav main';
  }
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}
