@import 'variables';
@import 'bootstrap';

@import 'layout';

@import 'grid';
@import 'horzontalGrid';
@import 'toolbar';
@import 'types';

@import 'component';

.flex-basis-0 {
  flex-basis: 0;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.text-oneliner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
